# IDEA 的文件（不要上传）
.idea/
*.iml

# Gradle 编译文件（不要上传）
.gradle/
build/
out/
bin/

# Minecraft 运行文件（不要上传）
run/
logs/
crash-reports/

# 操作系统的临时文件（不要上传）
.DS_Store
Thumbs.db
desktop.ini

# 编译出来的 jar 文件（不要上传）
*.jar
*.zip

# 临时文件（不要上传）
*.log
*.tmp
*.bak